<div class="container">
    <h1>Payment Received</h1>
    <hr noshade></hr>

<p>
    Payment Received for {{payment.currency}} {{payment.amount}} against Customer ID: {{payment.notes.CID}}.<br>
    Please check your email for payment reciept. Txn ID: {{payment.id}}
</p>
<p>
    For any queries regarding online payments write to us at <a href="mailto:support@alphanetbroadband.com" target="_top">support@alphanetbroadband.com</a>
</p>
</div>