<div class="container">
<h1>{{message}}</h1>
<p>
    Please email us at
    <a href="mailto:support@alphanetbroadband.com" target="_top">support@alphanetbroadband.com</a>
</p>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>

</div>
