<div class="container">
    <h1 class="title">Payments</h1>
    <hr noshade></hr>

<div class="row" style="margin-top: 100px">
    <div class="col-sm-6" style="margin:0px auto">
        <form method="get" action="/precheckout">
            <div class="form-group">
                <label for="customerID">Customer ID</label>
                <input class="form-control" name="cid" id="customerID" placeholder="Your customer id, like Ind_mukesh1230">
            </div>
            <input type="submit" class="btn btn-primary"></input>
        </form>
    </div>
</div>
</div>
