div.app {
  margin-top: 150px;
}

.main.row {
  background-color: white;
  max-width: 900px;
  min-width: 600px;
  min-height: 400px;
  margin: 0 auto;
}

h1.title {
  margin: 20px;
}

body {
  background-color: dimgrey;
}